body {
    margin: 0;
}

.header {
background-color: rgb(146, 206, 187);
}

.main {
background-color: rgb(102, 132, 185);

}

.wrapper {
    max-width: 600;
    margin: auto;
}

div {
    display: block;
    unicode-bidi: isolate;
} 