.header {
    background-color: #f2a481;
    padding: 20px;
}

.main {
    background-color: #cd7692;
    padding: 20px;
}

.footer {
    background-color: #f4b9c1;
    padding: 20px;
}

body {
    margin: 0;
}

.wrapper {
    max-width: 900px;
    margin: auto;
}