.header {
background-color: #f2a481;
width: 300px;
margin-left: auto;
margin-right: auto;
}

.main {
background-color: #cd7692;
width: 300px;
margin-left: auto;
margin-right: auto;}

.footer {
background-color: #f4b9c1;
width: 300px;
margin-left: auto;
margin-right: auto;}
